/Bisection.py
/CardinalPolynomial.py
/copysd.py
/E. Ward Cheney, David R. Kincaid - Numerical Mathematics and Computing (2012, Cengage Learning) - libgen.li.pdf
/FitData.mat
/Grovdata.mat
/Hjemmeopgave 1.ipynb
/Hjemmeopgave 2.ipynb
/LagrangeFormInterpolation.py
/MinInversKvadInterpolation.py
/mydf.p
/myf.p
/Numerisk_1-1.pdf
/Opgave1Data.mat
/Ovelse2_1Datafit.py
/Ovelse9_1testInvKvadInterpolation.py
/__pycache__